/* You can add global styles to this file, and also import other style files */
body {
    background: #1f4037; 
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037); 
    background: linear-gradient(to right, #99f2c8, #1f4037); 
}

